js/gooana.js
node_modules
aliro.html
index-origin.html
package-lock.json
package.json
tests/

Videos/temp_video_steps.mp4
Videos/temp_video_steps_origin.mp4
Videos/temp_video_steps_slower.mp4
Videos/temp_video_steps.mov
Videos/video.mp4

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets